.l-mortgage-payment{
  width: 100%;
  margin: 3.5rem 0;
  display: flex;
  height: 500px;
  justify-content: flex-start;

  &--plan{
    width: 45%;
    height: 450px;
    border: 1px solid transparent;
    border-color: #2572b4;

    &__header{
      color: #fff;
      background-color: #2572b4;
      border-color: #2572b4;
      padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
      &-txt{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        color: inherit;
        font-weight: 600;
      }
    }
  }

  &--pre{
    width: 45%;
    height: 500px;
    border: 1px solid transparent;
    border-color: #2572b4;
    margin-left: 2rem;

    &__header{
      color: #fff;
      background-color: #2572b4;
      border-color: #2572b4;
      padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
      &-txt{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        color: inherit;
        font-weight: 600;
      }
    }
  }
}
