<nav class="l-mortgage-nav">
  <div class="l-mortgage-nav__brand">
    <a
      href="https://www.rbcroyalbank.com/personal.html"
      target="_blank"
      class="l-mortgage-nav__brand--logo"
    >
      <div class="l-mortgage-nav__brand--logo-img">
        <img
          src="https://download.logo.wine/logo/Royal_Bank_of_Canada/Royal_Bank_of_Canada-Logo.wine.png"
          alt="RBC"
        />
      </div>
    </a>
    <div class="l-mortgage-nav__brand--header">
      <h1 class="l-mortgage-nav__brand--header-txt">
        Royal Bank Mortgage calculator
      </h1>
    </div>
  </div>
</nav>
